:root {
  --contact-hovr: #fd3365;
  --twitter-hovr: #1d9bf0;
  --github-hovr: #36dd88;
}

[theme="light"] {
  --bg-color: #f2f4f8;
  --font-color: #161b3c;
}

[theme="dark"] {
  --bg-color: #101010;
  --font-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.main-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
}

.main-text01 {
  font-family: degular-display;
  font-size: 3.75rem;
  margin-bottom: 0px;
}

.main-text02 {
  font-family: degular-text;
  font-size: 1.75rem;
  font-weight: 200;
}

.social-link {
  color: var(--font-color);
  font-size: 1.5rem;
  margin-left: 20px;;
}

.social-link:hover {
  transition: all 300ms ease-in-out;
}

#twitter-link:hover {
  color: var(--twitter-hovr);
}

#github-link:hover {
  color: var(--github-hovr);
}

#contact-link:hover {
  color: var(--contact-hovr);
}

.pub-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pub-text01 {
  font-family: degular-text;
  font-weight: 400;
  text-decoration: underline;
}

@media (max-width: 320px) {
  .main-text01 {
    font-size: 3.25rem;
  }

  .main-text02 {
    font-size: 1.25rem;
  }

  .social-link {
    font-size: 1.25rem;
  }
}

@media (max-width: 280px) {
  .main-text01 {
    font-size: 3rem;
  }

  .main-text02 {
    font-size: 1rem;
  }

  .social-link {
    font-size: 1rem;
  }
}

